In [1]:
import pandas as pd
from pathlib import Path

In [2]:
file = Path('./WHO-COVID-19-global-data (1).csv')
df = pd.read_csv(file)

In [3]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,1/3/20,AF,Afghanistan,EMRO,0,0,0,0
1,1/4/20,AF,Afghanistan,EMRO,0,0,0,0
2,1/5/20,AF,Afghanistan,EMRO,0,0,0,0
3,1/6/20,AF,Afghanistan,EMRO,0,0,0,0
4,1/7/20,AF,Afghanistan,EMRO,0,0,0,0

In [4]:
usa_covid19_df = df[["Date_reported","Country_code","Country","WHO_region",
                                 "New_cases","Cumulative_cases","New_deaths","Cumulative_deaths"]]
usa_covid19_df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,1/3/20,AF,Afghanistan,EMRO,0,0,0,0
1,1/4/20,AF,Afghanistan,EMRO,0,0,0,0
2,1/5/20,AF,Afghanistan,EMRO,0,0,0,0
3,1/6/20,AF,Afghanistan,EMRO,0,0,0,0
4,1/7/20,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
311650,8/5/23,ZW,Zimbabwe,AFRO,0,265693,0,5712
311651,8/6/23,ZW,Zimbabwe,AFRO,0,265693,0,5712
311652,8/7/23,ZW,Zimbabwe,AFRO,0,265693,0,5712
311653,8/8/23,ZW,Zimbabwe,AFRO,0,265693,0,5712
311654,8/9/23,ZW,Zimbabwe,AFRO,0,265693,0,5712

In [5]:
usa_covid19_df = usa_covid19_df.loc[usa_covid19_df["Country_code"] == "US"]
usa_covid19_df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
297190,1/3/20,US,United States of America,AMRO,0,0,0,0
297191,1/4/20,US,United States of America,AMRO,0,0,0,0
297192,1/5/20,US,United States of America,AMRO,0,0,0,0
297193,1/6/20,US,United States of America,AMRO,0,0,0,0
297194,1/7/20,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
298500,8/5/23,US,United States of America,AMRO,0,103436829,0,1127152
298501,8/6/23,US,United States of America,AMRO,0,103436829,0,1127152
298502,8/7/23,US,United States of America,AMRO,0,103436829,0,1127152
298503,8/8/23,US,United States of America,AMRO,0,103436829,0,1127152
298504,8/9/23,US,United States of America,AMRO,0,103436829,0,1127152

In [6]:
usa_covid19_df.count()

Date_reported        1315
Country_code         1315
Country              1315
WHO_region           1315
New_cases            1315
Cumulative_cases     1315
New_deaths           1315
Cumulative_deaths    1315
dtype: int64

In [7]:
usa_covid19_df.to_csv("Resources/usa_covid19.csv", index=False, encoding="ISO-8859-1")